@import "base";
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


.logo-name {
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  margin-left: 30px;
}
.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  background-color: rgba(0, 0, 0, 0) !important;
}

.theme--light.v-application {
  background: #f3f3f7 !important;
  color: #4e4d54 !important;
}

.v-card {

  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.02) !important;
}

.v-card.v-card--flat {

  box-shadow: none !important;
}

.v-card:not(.v-sheet--tile) {
  border-radius: 8px !important;
}

.hexagon-container {
  position: absolute;
  right: 40px;
  bottom: 45px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
          transition: transform 1s ease-in-out;
}

.hexagon-container:hover {
  position: absolute;
  right: 40px;
  bottom: 45px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}


.custom-add {
  position: absolute;
  color: #ffffff !important;
  z-index: 7;
  left: 17px;
  bottom: 23px;
  font-size: 46px !important;
}

.hex {
  position: relative;
  margin: 1em auto;
  width: 5em; height: 3.9em;
  border-radius: 2em/.7em;
  background: #613cea;
  transition: opacity .5s;
  box-shadow: 0 0 20px rgba(43, 0, 85, 0.3);
}
.hex:before, .hex:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.hex:before {
    -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hex:after {
    -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.theme--light.v-list-item--active:before, .theme--light.v-list-item--active:hover:before, .theme--light.v-list-item:focus:before {
  opacity: 0 !important;
}

.theme--light.v-list-item--active, .theme--light.v-list-item--active:hover, .theme--light.v-list-item:focus {
  opacity: 1 !important;
  background: red;
}

.theme--light.v-list-item--active, .theme--light.v-list-item--active:hover, .theme--light.v-list-item:focus {
  opacity: 1 !important;
  background: white;
  border-radius: 50px;
  padding: 0px 15px;
  width: 208px;
  margin-left: 10px;
}

.theme--light.v-list-item:hover:before {
  opacity: .04;
  border-radius: 50px;
  padding: 0px 15px;
  width: 208px;
  margin-left: 10px;
}

.v-list-item--active .v-icon {
  color: #8877be !important;
}

.v-list-item {
  letter-spacing: .7px !important;
}

p.app-card--description {
  height: 60px;
  overflow: hidden;
}